<% current_user.numenera_characters.each do |character| %>
    <div class="character-display">
    <%= link_to show_numenera_character_path(character) do %>
        <div class="character-box">
            <b><%= character.character_name  %></b> <br/>
            is a <b><%= character.character_descriptor %> <%= character.character_type %></b> <br/>
            who <b><%= character.character_focus %></b>
        </div>
    <% end %>
    </div>
<% end %>

<%= link_to 'create character', new_numenera_characters_path %>