<% current_user.numenera_characters.each do |character| %>
<div class="character-display-box">
    <%= character.character_name  %> <br/>
    is a <%= character.character_descriptor %> <%= character.character_type %> <br/>
    who <%= character.character_focus %>
</div>
<% end %>

<%= link_to 'create character', new_numenera_characters_path %>