<div class="numenera-character">
	<%= bootstrap_form_for(@numenera_character, :url => {:action => 'update', :id => @numenera_character.id}) do |f| %>
		<table>
            <td class="left-side-numenera-character">
				<%= f.text_field :character_name, 
        			maxlength:1000, 
        			place_holder: :character_name,
        			class: 'form-control', 
        			required: 'true' %>
				<%= f.select(:character_type, options_from_collection_for_select(NumeneraCharacterType.all, :character_type, :character_type, :selected  => @numenera_character.character_type), include_blank: "Select Type") %>
				<%= f.select(:character_descriptor, options_from_collection_for_select(NumeneraCharacterDescriptor.all, :character_descriptor, :character_descriptor, :selected => @numenera_character.character_descriptor), include_blank: "Select Descriptor")%>
				<%= f.select(:character_focus, options_from_collection_for_select(NumeneraCharacterFocus.all, :character_focus, :character_focus, @numenera_character.character_focus), include_blank: "Select Focus") %>
				<%= f.number_field :tier, required: 'true' %>
				<%= f.number_field :effort, required: 'true' %>
			</td>
			<td class="right-side-numenera-character">
				<%= f.number_field :might_pool,
        			required: 'true' %>
				<%= f.number_field :might_edge,
        			required: 'true' %>
				<%= f.number_field :speed_pool,
        			required: 'true' %>
				<%= f.number_field :speed_edge,
        			required: 'true' %>
				<%= f.number_field :intellect_pool,
        			required: 'true' %>
				<%= f.number_field :intellect_edge,
        			required: 'true' %>
			</td>
		</table>
		<%= f.submit 'update character', class: 'form-control' %>
	<% end %>
</div>