<div class="numenera-character">
    <div id="numenera-name"><%= @numenera_character.character_name %>
        is a <%= @numenera_character.character_descriptor %> <%= @numenera_character.character_type %> who
        <%= @numenera_character.character_focus %></div>
    <div class='character-stats'>
        <div class="char-stats"><p>Tier : <%= @numenera_character.tier %></p>
        <p>Effort : <%= @numenera_character.effort %></p>
        <p>Might pool : <%= @numenera_character.might_pool %></p>
        <p>Speed pool : <%= @numenera_character.speed_pool %></p>
        <p>Intellect pool : <%= @numenera_character.intellect_pool %></p></div>
    </div>
    <% if @numenera_character.numenera_character_skills.count != 0 %>Charactger Skills<%end%>
    <% @numenera_character.numenera_character_skills.each do |skill| %>
        <div id="skill-description">
            <div class="char-skills">
                <% if skill.trained %>
                    <p><%= skill.numenera_skill %> is trianed</p>
                <% else %>
                    <p><%= skill.numenera_skill %> is skilled</p>
                <% end %>
            </div>
            <% if current_user.id == @numenera_character.user_id %>
                <button class="edit-numenera-character-skill-button character-button">edit</button>
            <% end %>
        </div> <!-- skill-description -->
        <div class="edit-numenera-character-skill">
            <%= bootstrap_form_for(skill, :url => {controller: :numenera_character_skills, :action => 'update', :id => skill.id}) do |f| %>
                <%= f.hidden_field :numenera_character_id, :value => @numenera_character.id %>
                <%= f.text_field :numenera_skill, 
                    maxlength: 1000, 
                    placeholder: :numenera_skill,
                    class: 'form-control', 
                    required: 'true' %>
                <%= f.check_box :skilled %>
                <%= f.check_box :trained %>
                <%= f.submit 'update skill', class: 'character-button form-control' %>
            <% end %>
            <button class="cancel-skill-edit character-button">cancel</button>
            <%= button_to "delete", delete_numenera_skill_path(skill.id), {:data => {
                :confirm => "Are you sure?"}, :method => :delete , :class => 'character-button form-control'} %>
        </div> <!-- edit-numenera-character-skill -->
    <% end %>
    <% if @numenera_character.numenera_esoteries.count != 0 %> 
        <% if @numenera_character.numenera_esoteries.count == 1 %>
            Esotery
        <% else %> 
            Esoteries
        <% end %>
    <% end %>
    <% @numenera_character.numenera_esoteries.each do |esotery| %>
        <div id="esotery-description">
            <div class="char-esotery">
                <b>Esotery: </b><%= esotery.esotery_name %> <br/>
                <b>Cost: </b><%= esotery.esotery_cost %> <br/>
                <b>Description: </b><%= esotery.esotery_discription %>
            </div>
            <% if current_user.id == @numenera_character.user_id %>
                <button class="edit-numenera-esotery-button character-button">edit</button>
            <% end %>
        </div> <!-- esotery-description -->
        <div class="edit-numenera-esotery">
            <%= bootstrap_form_for(esotery, :url => {controller: :numenera_esoteries, :action => 'update', :id => esotery.id}) do |f| %>
                <%= f.text_field :esotery_name, 
                    maxlength: 1000, 
                    placeholder: 'name',
                    class: 'form-control', 
                    required: 'true' %>
                <%= f.text_field :esotery_cost, 
                    placeholder: 'cost',
                    class: 'form-control', 
                    required: 'true' %>
                <%= f.text_area :esotery_discription,
                    placeholder: 'description',
                    class: 'form-control',
                    required: 'true'%>
                <%= f.submit 'edit esotery', class: 'character-button' %>
            <% end %>
            <button class='cancel-esotery-edit character-button'>cancel</button>       
            <%= button_to "delete", delete_numenera_esotery_path(esotery.id), {:data => {
                :confirm => "Are you sure?"}, :method => :delete , :class => 'character-button form-control'} %>
        </div>
    <% end %>
    <% if current_user.id == @numenera_character.user_id %>
        <div>
            <button class="character-button" id="add-numenera-character-skill-button">add skill</button>
        </div>
        <div>
            <button class="character-button" id="add-numenera-esotery-button">add esotery</button>
        </div>
    <% end %>
    <div id="add-numenera-character-skill"> 
        <%= bootstrap_form_for(NumeneraCharacterSkill.new) do |f| %>
            <%= f.hidden_field :numenera_character_id, :value => @numenera_character.id %>
            <%= f.text_field :numenera_skill, 
                maxlength: 1000, 
                placeholder: 'skill',
                class: 'form-control', 
                required: 'true' %>
            <%= f.check_box :skilled %>
            <%= f.check_box :trained %>
            <%= f.submit 'add skill', class: 'character-button form-control' %>
            <button class="character-button" id="cancel-add-skill">cancel</button>
        <% end %>
    </div> <!-- add-numenera-character-skill -->
    <div id="add-numenera-esotery"> 
       <%= bootstrap_form_for(NumeneraEsotery.new) do |f| %>
            <%= f.hidden_field :numenera_character_id, :value => @numenera_character.id %>
            <%= f.text_field :esotery_name, 
                maxlength: 1000, 
                placeholder: 'name',
                class: 'form-control', 
                required: 'true' %>
            <%= f.text_field :esotery_cost, 
                placeholder: 'cost',
                class: 'form-control', 
                required: 'true' %>
            <%= f.text_area :esotery_discription,
                placeholder: 'description',
                class: 'form-control',
                required: 'true'%>
            <%= f.submit 'add esotery', class: 'character-button form-control' %>
        <% end %>
        <button class="character-button" id='cancel-add-esotery'>cancel</button>
    </div> <!-- add-numenera-esotery -->
    <% if current_user.id == @numenera_character.user_id %>
        <%= button_to 'edit', edit_numenera_character_path(@numenera_character), {:method => :get, :class => 'character-button'} %>
        <div>
            <%= button_to "delete", delete_numenera_character_path(@numenera_character.id), {:data => {
                :confirm => "Are you sure?"
            }, :method => :delete, :class => 'character-button'} %>
        </div>
    <% end %>
</div>